@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html,
body {
  font-family: "Poppins", sans-serif !important;
}

@theme {
  --color-background-gray: #E8E8E8;
  --color-dark-blue: #2D2F39;
  --color-red: #F33C38;
  --color-placeholder: #23192899;
  --color-heading: #231928BF;
  --color-success: #0FB450;
  --color-detail: #74788D;
  --color-yellow: #FAC10F;
  --color-dark-gray: #ACB8C81A;
  --color-light-red: #EA56591A;
  --color-green: #056464;
}

@layer utilities {
  .sidebar-menu {
    @apply w-full mt-8 flex flex-col gap-3;
  }

  .sidebar-link {
    @apply block w-full p-2 rounded-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }

  p {
    @apply text-detail;
  }
}

:root {
  --background: oklch(0.9310 0 0);
  --foreground: oklch(0.2327 0.0317 314.1518);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2327 0.0317 314.1518);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2327 0.0317 314.1518);
  --primary: oklch(0.6352 0.2195 27.0418);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3074 0.0182 276.3686);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9581 0 0);
  --muted-foreground: oklch(0.5767 0.0325 276.8254);
  --accent: oklch(0.9581 0 0);
  --accent-foreground: oklch(0.2327 0.0317 314.1518);
  --destructive: oklch(0.6352 0.2195 27.0418);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8720 0.0100 258.3380);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.6352 0.2195 27.0418);
  --chart-1: oklch(0.6352 0.2195 27.0418);
  --chart-2: oklch(0.8391 0.1697 86.7023);
  --chart-3: oklch(0.6734 0.1864 149.1024);
  --chart-4: oklch(0.4563 0.0765 194.8041);
  --chart-5: oklch(0.5767 0.0325 276.8254);
  --sidebar: oklch(0.3074 0.0182 276.3686);
  --sidebar-foreground: oklch(0.9310 0 0);
  --sidebar-primary: oklch(0.6352 0.2195 27.0418);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6352 0.2195 27.0418);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3633 0.0262 276.1522);
  --sidebar-ring: oklch(0.6352 0.2195 27.0418);
  --font-sans: Inter;
  --font-serif: Inter;
  --font-mono: Inter;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2327 0.0317 314.1518);
  --foreground: oklch(0.9310 0 0);
  --card: oklch(0.3074 0.0182 276.3686);
  --card-foreground: oklch(0.9310 0 0);
  --popover: oklch(0.3074 0.0182 276.3686);
  --popover-foreground: oklch(0.9310 0 0);
  --primary: oklch(0.6352 0.2195 27.0418);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4563 0.0765 194.8041);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3633 0.0262 276.1522);
  --muted-foreground: oklch(0.7783 0.0264 255.5857);
  --accent: oklch(0.3633 0.0262 276.1522);
  --accent-foreground: oklch(0.9310 0 0);
  --destructive: oklch(0.6352 0.2195 27.0418);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3633 0.0262 276.1522);
  --input: oklch(0.3633 0.0262 276.1522);
  --ring: oklch(0.6352 0.2195 27.0418);
  --chart-1: oklch(0.6352 0.2195 27.0418);
  --chart-2: oklch(0.8391 0.1697 86.7023);
  --chart-3: oklch(0.6734 0.1864 149.1024);
  --chart-4: oklch(0.4563 0.0765 194.8041);
  --chart-5: oklch(0.5767 0.0325 276.8254);
  --sidebar: oklch(0.3074 0.0182 276.3686);
  --sidebar-foreground: oklch(0.9310 0 0);
  --sidebar-primary: oklch(0.6352 0.2195 27.0418);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6352 0.2195 27.0418);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3633 0.0262 276.1522);
  --sidebar-ring: oklch(0.6352 0.2195 27.0418);
  --font-sans: Inter;
  --font-serif: Inter;
  --font-mono: Inter;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}